# AI test notebook

Author: Anže Mramor

contact: anze.mramor@gmail.com

In [2]:
# import necessary libraries
import pandas as pd
import numpy as np
import random
import plotly.express as px
from plotly.subplots import make_subplots
import plotly.graph_objects as go

## Descriptive analysis

### 1. Import and review the dataset

In [3]:
# import the dataset
data = pd.read_csv('data/closing_odds.csv')
data

,match_id,league,match_date,home_team,home_score,away_team,away_score,avg_odds_home_win,avg_odds_draw,avg_odds_away_win,max_odds_home_win,max_odds_draw,max_odds_away_win,top_bookie_home_win,top_bookie_draw,top_bookie_away_win,n_odds_home_win,n_odds_draw,n_odds_away_win
0,170088,England: Premier League,2005-01-01,Liverpool,0,Chelsea,1,2.9944,3.1944,2.2256,3.20,3.25,2.29,Paddy Power,Sportingbet,Expekt,9,9,9
1,170089,England: Premier League,2005-01-01,Fulham,3,Crystal Palace,1,1.9456,3.2333,3.6722,2.04,3.30,4.15,Pinnacle Sports,bet-at-home,Expekt,9,9,9
2,170090,England: Premier League,2005-01-01,Aston Villa,1,Blackburn,0,1.8522,3.2611,4.0144,2.00,3.40,4.50,Pinnacle Sports,Paddy Power,Sportingbet,9,9,9
3,170091,England: Premier League,2005-01-01,Bolton,1,West Brom,1,1.6122,3.4133,5.4722,1.67,3.57,6.27,Coral,Pinnacle Sports,Pinnacle Sports,9,9,9
4,170092,England: Premier League,2005-01-01,Charlton,1,Arsenal,3,5.9878,3.4778,1.5567,7.00,3.60,1.62,Expekt,Paddy Power,bet365,9,9,9
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
479435,876806,World: Club Friendly,2015-06-30,St. Gallen,1,Wacker Innsbruck,2,1.6838,3.8846,3.9813,1.83,4.20,4.33,188BET,bet365,Ladbrokes,24,24,24
479436,876807,World: Club Friendly,2015-06-30,SW Harelbeke,1,Waregem,1,13.1165,7.8229,1.1053,19.00,9.00,1.13,BetVictor,bet365,Titanbet,17,17,17
479437,876808,World: Club Friendly,2015-06-30,Torhout,0,Club Brugge,5,17.2256,12.6231,1.0288,22.00,15.00,1.05,BetVictor,Jetbull,BetVictor,16,16,16
479438,876809,World: Club Friendly,2015-06-30,Tournai,0,Mouscron Peruwelz,3,15.7143,10.2857,1.0614,34.00,12.00,1.10,Sportingbet,Betclic,Paddy Power,7,7,7
479439,876812,World: Club Friendly,2015-06-30,Zavrc,0,Istra 1961,0,4.7145,3.9259,1.5650,5.46,4.25,1.70,Pinnacle Sports,888sport,Ladbrokes,22,22,22

In [6]:
data[data["n_odds_home_win"] <= 3]

,match_id,league,match_date,home_team,home_score,away_team,away_score,avg_odds_home_win,avg_odds_draw,avg_odds_away_win,max_odds_home_win,max_odds_draw,max_odds_away_win,top_bookie_home_win,top_bookie_draw,top_bookie_away_win,n_odds_home_win,n_odds_draw,n_odds_away_win
22,170110,England: League One,2005-01-01,Bournemouth,3,Brentford,2,1.85,3.2500,3.85,1.85,3.25,3.85,Expekt,Expekt,Expekt,1,1,1
50,170183,Northern Ireland: IFA Premiership,2005-01-01,Coleraine,3,Omagh Town,4,1.29,4.5000,8.00,1.29,4.50,8.00,Paddy Power,Paddy Power,Paddy Power,1,1,1
51,170184,Northern Ireland: IFA Premiership,2005-01-01,Dungannon,7,Ards,0,2.25,3.2000,2.75,2.25,3.20,2.75,Paddy Power,Paddy Power,Paddy Power,1,1,1
52,170185,Northern Ireland: IFA Premiership,2005-01-01,Loughgall,0,Linfield,4,5.50,3.6000,1.50,5.50,3.60,1.50,Paddy Power,Paddy Power,Paddy Power,1,1,1
65,170199,Wales: Premier,2005-01-01,Afan Lido,0,Port Talbot,1,2.38,3.2500,2.50,2.38,3.25,2.50,bet365,bet365,bet365,1,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
479332,876673,World: Club Friendly,2015-06-28,Freiburg,2,Freiburger,1,0.00,21.0000,41.00,0.00,21.00,41.00,NaN,bet365,bet365,0,1,1
479387,876741,Argentina: Primera C Metropolitana,2015-06-30,San Telmo,1,Talleres Escalada,1,2.70,2.9000,2.40,2.70,2.90,2.40,Sportingbet,Sportingbet,Sportingbet,1,1,1
479408,876775,Uzbekistan: Professional Football League,2015-06-30,Shortan Guzor,0,Met. Bekobod,3,1.60,3.7500,4.35,1.60,3.75,4.35,888sport,888sport,888sport,1,1,1
479415,876783,World: Club Friendly,2015-06-30,Sigma Olomouc,1,Dun. Streda,2,2.00,3.2833,3.48,2.30,3.75,4.00,Tipico,Paddy Power,Tipico,3,3,3
479433,876804,World: Club Friendly,2015-06-30,Mannersdorf,0,Rapid Vienna,10,25.27,10.6300,1.02,26.00,11.00,1.02,William Hill,William Hill,William Hill,2,2,2

First we obtain some general information about the dataset and check for missing values.

In [4]:
# obtain general information about dataset
data.info()
data.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 479440 entries, 0 to 479439
Data columns (total 19 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   match_id             479440 non-null  int64
 1   league               479440 non-null  object
 2   match_date           479440 non-null  object
 3   home_team            479440 non-null  object
 4   home_score           479440 non-null  int64
 5   away_team            479440 non-null  object
 6   away_score           479440 non-null  int64
 7   avg_odds_home_win    479440 non-null  float64
 8   avg_odds_draw        479440 non-null  float64
 9   avg_odds_away_win    479440 non-null  float64
 10  max_odds_home_win    479440 non-null  float64
 11  max_odds_draw        479440 non-null  float64
 12  max_odds_away_win    479440 non-null  float64
 13  top_bookie_home_win  479412 non-null  object
 14  top_bookie_draw      479440 non-null  object
 15  top_bookie_away_win  479416 non-null  object
 16  n_odds_home_win      479440 non-null  int64
 17  n_odds_draw          479440 non-null  int64
 18  n_odds_away_win      479440 non-null  int64
dtypes: float64(6), int64(6), object(7)
memory usage: 69.5+ MB

,match_id,home_score,away_score,avg_odds_home_win,avg_odds_draw,avg_odds_away_win,max_odds_home_win,max_odds_draw,max_odds_away_win,n_odds_home_win,n_odds_draw,n_odds_away_win
count,479440.000000,479440.000000,479440.000000,479440.000000,479440.000000,479440.000000,479440.00000,479440.000000,479440.000000,479440.000000,479440.000000,479440.000000
mean,551864.649009,1.538735,1.200192,2.524875,3.669993,3.974709,2.78930,3.941587,4.573031,16.453948,16.455312,16.454564
std,195079.534253,1.379154,1.245997,1.944906,1.069718,2.786158,2.75642,1.458651,4.247879,8.824646,8.824219,8.824570
min,170088.000000,0.000000,0.000000,0.000000,1.010000,0.000000,0.00000,1.010000,0.000000,0.000000,1.000000,0.000000
25%,394532.500000,1.000000,0.000000,1.657700,3.200000,2.418300,1.75000,3.300000,2.580000,9.000000,9.000000,9.000000
50%,566276.500000,1.000000,1.000000,2.083600,3.360900,3.200000,2.20000,3.560000,3.500000,17.000000,17.000000,17.000000
75%,715668.500000,2.000000,2.000000,2.642500,3.734500,4.606850,2.85000,4.000000,5.200000,25.000000,25.000000,25.000000
max,876812.000000,101.000000,102.000000,151.000000,51.000000,103.024000,209.04000,150.000000,501.000000,29.000000,29.000000,29.000000

In [ ]:
# check for missing values
print(data.isnull().sum())
data.isnull().mean() * 100

match_id                0
league                  0
match_date              0
home_team               0
home_score              0
away_team               0
away_score              0
avg_odds_home_win       0
avg_odds_draw           0
avg_odds_away_win       0
max_odds_home_win       0
max_odds_draw           0
max_odds_away_win       0
top_bookie_home_win    28
top_bookie_draw         0
top_bookie_away_win    24
n_odds_home_win         0
n_odds_draw             0
n_odds_away_win         0
dtype: int64

match_id               0.000000
league                 0.000000
match_date             0.000000
home_team              0.000000
home_score             0.000000
away_team              0.000000
away_score             0.000000
avg_odds_home_win      0.000000
avg_odds_draw          0.000000
avg_odds_away_win      0.000000
max_odds_home_win      0.000000
max_odds_draw          0.000000
max_odds_away_win      0.000000
top_bookie_home_win    0.005840
top_bookie_draw        0.000000
top_bookie_away_win    0.005006
n_odds_home_win        0.000000
n_odds_draw            0.000000
n_odds_away_win        0.000000
dtype: float64

Only 2 variables contain cases of missing values. Those variables are the 'top_bookie_home_win' and 'top_bookie_away_win' which makes sense

average goals

In [ ]:
df_model = df_model.sort_values('match_date')

home_avg_goals_list = []
away_avg_goals_list = []

# Create dictionaries for cumulative stats for each team.
team_goals = {}  # key: team name, value: list of goals scored

# iterate over the matches in time order.
for idx, row in df_model.iterrows():
    home = row['home_team']
    away = row['away_team']
    
    # home team
    if home in team_goals and len(team_goals[home]) > 0:
        home_avg = np.mean(team_goals[home])
    else:
        home_avg = np.nan
    home_avg_goals_list.append(home_avg)
    
    # away team
    if away in team_goals and len(team_goals[away]) > 0:
        away_avg = np.mean(team_goals[away])
    else:
        away_avg = np.nan
    away_avg_goals_list.append(away_avg)
    
    # For home team, add goals scored at home, for away team as scored away
    team_goals.setdefault(home, []).append(row['home_score'])
    team_goals.setdefault(away, []).append(row['away_score'])

df_model['home_team_avg_goals'] = home_avg_goals_list
df_model['away_team_avg_goals'] = away_avg_goals_list

# Fill missing values with zero
df_model['home_team_avg_goals'] = df_model['home_team_avg_goals'].fillna(0)
df_model['away_team_avg_goals'] = df_model['away_team_avg_goals'].fillna(0)

home team win/lose ratio

In [ ]:
df_model = df_model.sort_values('match_date')

home_win_loss_list = []
away_win_loss_list = []

# Dictionaries to keep cumulative win/loss stats for each team.
team_wins = {}    # key: team name, value: cumulative wins
team_losses = {}  # key: team name, value: cumulative losses

# iterate over the matches in time order.
for idx, row in df_model.iterrows():
    home = row['home_team']
    away = row['away_team']
    
    # Home team:
    wins_home = team_wins.get(home, 0)
    losses_home = team_losses.get(home, 0)
    
    # Compute the home team's win/loss ratio.
    # If the team hasn't played yet, set ratio to NaN.
    # If losses are 0 but wins exist, use wins as the ratio.
    if wins_home == 0 and losses_home == 0:
        home_ratio = np.nan
    elif losses_home == 0:
        home_ratio = wins_home
    else:
        home_ratio = wins_home / losses_home
    home_win_loss_list.append(home_ratio)
    
    # Away team:
    wins_away = team_wins.get(away, 0)
    losses_away = team_losses.get(away, 0)
    
    if wins_away == 0 and losses_away == 0:
        away_ratio = np.nan
    elif losses_away == 0:
        away_ratio = wins_away
    else:
        away_ratio = wins_away / losses_away
    away_win_loss_list.append(away_ratio)
    

    home_score = row['home_score']
    away_score = row['away_score']
    
    if home_score > away_score:
        # Home win:
        team_wins[home] = team_wins.get(home, 0) + 1
        team_losses[away] = team_losses.get(away, 0) + 1
    elif home_score < away_score:
        # Away win:
        team_wins[away] = team_wins.get(away, 0) + 1
        team_losses[home] = team_losses.get(home, 0) + 1
    # For a draw, no changes are made.

df_model['home_team_win_loss_ratio'] = home_win_loss_list
df_model['away_team_win_loss_ratio'] = away_win_loss_list

# Fill missing values with 0
df_model['home_team_win_loss_ratio'] = df_model['home_team_win_loss_ratio'].fillna(0)
df_model['away_team_win_loss_ratio'] = df_model['away_team_win_loss_ratio'].fillna(0)